@model List<LiveGroupChat.ViewModels.MessageViewModel>

@{
    ViewData["Title"] = "Home - Czat";
}

<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/css/home.css">
</head>
<body>
<div class="chat-container">
    <div class="chat-box">
        <div class="chat-header">
            <h2>Witaj w czacie!</h2>
        </div>
        <div class="chat-window">
            <div class="message-container">
                @foreach (var message in Model)
                {
                    <p class="message">@message.Text</p>
                }
            </div>
        </div>
        <div class="chat-footer">
            <form asp-action="WriteMessage" method="post" style="display:flex; width: 100%;">
                <input type="text" name="Text" placeholder="Napisz wiadomość..." class="chat-input" />
                <button type="submit" class="send-btn">Wyślij</button>
            </form>
        </div>
    </div>
</div>
</body>
</html>